@page
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="container">
    <h1 class="text-center m-3">Forgot Password Confirmation</h1>
    <p>Please check your email to reset your password.</p>
</div>
