@page
@model iCTF_Website.Pages.ResetPasswordModel

@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration

@{
    ViewData["Title"] = "Reset Password";
}

<div class="container">
    <h1 class="text-center m-3">@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-group mb-2">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                </div>
                <script src="https://www.google.com/recaptcha/api.js"></script>
                <div class="mb-2 text-center">
                    <div class="g-recaptcha d-inline-block" data-sitekey="@(configuration.GetValue<string>("RecaptchaV2SiteKey"))"></div>
                </div>
                <button type="submit" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>
</div>