@page
@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="container">
    <h1 class="text-center m-3">Reset Password Confirmation</h1>
    <p>Your password was reset and you can now login.</p>
</div>
