@page
@model iCTF_Website.Areas.Account.Pages.ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
}

<div class="container">
    <h1 class="text-center m-3">Account</h1>
    <div class="row mb-3">
        <partial name="_MenuPartial" />
        <div class="col-md-9 text-start">
            <h4>Change Password</h4>
            <hr />
            <form method="post">
                <div class="row">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Input.OldPassword"></label>
                            <input asp-for="Input.OldPassword" class="form-control" />
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Input.NewPassword"></label>
                            <input asp-for="Input.NewPassword" class="form-control" />
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary mt-2 w-100">Update password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>