@page
@model iCTF_Website.Areas.Account.Pages.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
}

<div class="container">
    <h1 class="text-center m-3">Confirm Email</h1>
    <p>@Model.StatusMessage</p>
</div>