@page
@model iCTF_Website.Areas.Account.Pages.DiscordAccountModel

@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration

@{
    ViewData["Title"] = "Discord Account";
}

<div class="container">
    <h1 class="text-center m-3">Account</h1>
    <div class="row mb-3">
        <partial name="_MenuPartial" />
        <div class="col-md-9 text-start">
            <h4>Discord Account</h4>
            <hr />
            @if (!string.IsNullOrEmpty(Model.Success))
            {
                <div>
                    <div class="alert alert-success">
                        @Model.Success
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <div>
                    <div class="alert alert-danger">
                        @Model.Error
                    </div>
                </div>
            }
            <p>If you've already made progress on Discord, then only the account with the bigger score will be maintained after linking.</p>
            @if (Model.DiscordId != 0)
            {
                <p>Your account is currently linked to the discord account with ID: @Model.DiscordId</p>
            }
            <a href="https://discord.com/api/oauth2/authorize?client_id=@(configuration.GetValue<string>("DiscordClientId"))&redirect_uri=@(configuration.GetValue<string>("DiscordRedirectUrl"))&response_type=code&scope=identify&state=@Model.State" class="btn btn-primary mt-2">Link/Relink Discord Account</a>
        </div>
    </div>
</div>