@page
@model iCTF_Website.Areas.Account.Pages.RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
}

<div class="container">
    <h1 class="text-center m-3">Register Confirmation</h1>
    <p>Please check your email to confirm your account.</p>
</div>
