<footer class="bg-darker-gray text-white p-2 d-flex align-items-center justify-content-around mt-auto">
    <small>
        Made with
        <a class="text-white text-decoration-none cool-link" data-bs-toggle="modal" data-bs-target="#credits" href="#">
            ImaginaryCTF
        </a>
    </small>
    <div>
        <a href="https://twitter.com/ImaginaryCtf" class="me-2 text-white text-decoration-none" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.reddit.com/r/ICTF/" class="me-2 text-white text-decoration-none" target="_blank">
            <i class="fab fa-reddit-alien"></i>
        </a>
        <a href="https://discord.gg/vReKWNxPuE" class="me-2 text-white text-decoration-none" target="_blank">
            <i class="fab fa-discord"></i>
        </a>
    </div>
    <div class="modal fade" id="credits">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-dark">
                <div class="modal-header">
                    <h5 class="modal-title">About ImaginaryCTF</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>ImaginaryCTF is a platform created by Et3rnos that brings the beauty of CTF Competitions to discord, releasing a challenge every day</p>
                    <a class="d-block btn btn-success mb-2" target="_blank" href="https://github.com/Et3rnos/ImaginaryCTF">View ImaginaryCTF on GitHub</a>
                    <a class="d-block btn btn-danger mb-2" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" data-bs-target="#support" href="#">Support ImaginaryCTF Creator</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="support">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-dark">
                <div class="modal-header">
                    <h5 class="modal-title">Support Et3rnos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Glad to know you are planning on supporting me!</p>
                    <div class="mb-2">
                        <a class="btn btn-danger" target="_blank" href="https://patreon.com/et3rnos">Support Me On Patreon <i class="fab fa-patreon"></i></a>
                    </div>
                    <div>
                        <a class="btn btn-primary" target="_blank" href="https://www.paypal.com/donate?hosted_button_id=JSM77LBGLJ3FG">Support Me With Paypal <i class="fab fa-paypal"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>