@model IndexModel

@{
    Challenge challenge = Model.Chall;
}

<div class="bg-lighter-gray">
    <div class="container py-5 px-4">
        <h1>About Us</h1>
        <hr />
        <p>
            ImaginaryCTF was originally an idea that most people considered impossible to mantain. However, with lots of
            effort and investments, our team was able to keep it running for more than 8 months already, releasing more than
            270 challenges so far, one every day. This couldn't be possible without our players' support, whether they boosted
            our discord server or just thanked us for the good work. With this said, we are releasing more ways for players to
            support us, from submitting your own challenges to boost our discord server. Thank you all for making this idea possible!
            <br />
            This app was created with &hearts; by Et3rnos
        </p>
        <a class="btn btn-lg btn-outline btn-outline-dark rounded-button">More Info</a>
    </div>
</div>