@model IndexModel

<div class="bg-light-gray">
    <div class="container py-5">
        <div class="row px-4">
            <h1>Helpful Community</h1>
            <hr />
            <p>Join our Discord server in order to get better support while solving our challenges or just to have some fun. We already have over 3000 members!</p>
            <div class="col-md-6 px-4 mb-4">
                <h4>Our Team</h4>
                <hr />
                <img class="small-avatar" src="/img/et3rnos.png" title="Et3rnos" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="/img/eth007.png" title="Eth007" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="/img/matthewn.png" title="MatthewN" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="/img/ainz.png" title="ainz" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="/img/0x6F72656F73.png" title="0x6F72656F73" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="/img/stephencurry396.png" title="stephencurry396" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="/img/zyphen.png" title="Zyphen" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="/img/firepony57.png" title="FIREPONY57" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="/img/robin_jadoul.png" title="Robin_Jadoul" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="/img/puzzler7.png" title="puzzler7" data-bs-toggle="tooltip" data-bs-placement="top" />
            </div>
            <div class="col-md-6 px-4 mb-4">
                <h4>Boosters</h4>
                <hr />
                Thanks to everyone who has boosted our server!<br /> This section will be be updated soon.
            </div>
            <div class="offset-md-3 col-md-6">
                <a class="btn btn-lg btn-outline btn-outline-dark rounded-button" href="https://discord.gg/vReKWNxPuE" target="_blank">Join our Discord server</a>
            </div>
        </div>
    </div>
</div>