@model IndexModel

<div class="bg-light-gray">
    <div class="container py-5">
        <div class="row px-4">
            <h1>Helpful Community</h1>
            <hr />
            <p>Join our Discord server in order to get better support while solving our challenges or just to have some fun. We are already over 2000 members!</p>
            <div class="col-md-6 px-4 mb-4">
                <h4>Our Team</h4>
                <hr />
                <img class="small-avatar" src="https://cdn.discordapp.com/avatars/669798825765896212/572b97a2e8c1dc33265ac51679303c41.png?size=128" title="Et3rnos" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="https://cdn.discordapp.com/avatars/669342948776738816/509033bab5c2fd7fe9655e5693982555.png?size=128" title="Eth007" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="https://cdn.discordapp.com/avatars/720055120137552042/b7c04fd863ea2c90cffcb8df6c7d31d2.png?size=128" title="MatthewN" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="https://cdn.discordapp.com/avatars/444818836248854528/6d6ceeffe301ad96e5223b8e123f7868.png?size=128" title="ainz" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="https://cdn.discordapp.com/avatars/650187980606275589/493482c1cce3321ce32cb0b721c72cda.png?size=128" title="0x6F72656F73" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="https://cdn.discordapp.com/avatars/572630612469481492/6bc064d1f9ed07ac65a6cd3ecec51d1b.png?size=128" title="stephencurry396" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="https://cdn.discordapp.com/avatars/328580491290607616/2ad7b60307a0957bd7354542514c7ac6.png?size=128" title="Zyphen" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="https://cdn.discordapp.com/avatars/717861866105470987/563509a3cfae2fe60d84fe536fa2ab20.png?size=128" title="FIREPONY57" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="https://cdn.discordapp.com/avatars/294612749525188610/5089957ed92e4f755c63c7b82323e87c.png?size=128" title="Samwise.xlsx" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="https://cdn.discordapp.com/avatars/303590994350178306/1e00ad1789820ae06dabc425723c2c27.png?size=128" title="Robin_Jadoul" data-bs-toggle="tooltip" data-bs-placement="top" />
            </div>
            <div class="col-md-6 px-4 mb-4">
                <h4>Boosters</h4>
                <hr />
                <img class="small-avatar" src="https://cdn.discordapp.com/avatars/124997999238709249/0753fab208158596c8de4d8c65d22488.png?size=128" title="Heitmann" data-bs-toggle="tooltip" data-bs-placement="top"/>
                <img class="small-avatar" src="https://cdn.discordapp.com/avatars/186895132451143680/abe541d7581b7765fa2c5d780307689c.png?size=128" title="mjkoo" data-bs-toggle="tooltip" data-bs-placement="top"/>
                <img class="small-avatar" src="https://cdn.discordapp.com/avatars/427832149173862400/1767e28d50d41fab9872c7137020df9c.png?size=128" title="Max49" data-bs-toggle="tooltip" data-bs-placement="top"/>
                <img class="small-avatar" src="https://cdn.discordapp.com/embed/avatars/1.png" title="myspacebarbroke" data-bs-toggle="tooltip" data-bs-placement="top"/>
            </div>
            <div class="offset-md-3 col-md-6">
                <a class="btn btn-lg btn-outline btn-outline-dark rounded-button" href="https://discord.gg/vReKWNxPuE" target="_blank">Join our Discord server</a>
            </div>
        </div>
    </div>
</div>