<footer class="bg-darker-gray text-white p-2 d-flex align-items-center justify-content-around mt-auto">
    <small>&copy; 2021 - Made with <span class="text-danger"><i class="fas fa-heart"></i></span> by <a class="text-white text-decoration-none author-name" href="https://www.patreon.com/et3rnos" target="_blank">Et3rnos</a></small>
    <div>
        <a href="https://twitter.com/ImaginaryCtf" class="me-2 text-white text-decoration-none" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.reddit.com/r/ICTF/" class="me-2 text-white text-decoration-none" target="_blank">
            <i class="fab fa-reddit-alien"></i>
        </a>
        <!--<a href="https://instagram.com/imaginary_ctf" class="me-2 text-white text-decoration-none" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>-->
        <a href="https://discord.gg/vReKWNxPuE" class="me-2 text-white text-decoration-none" target="_blank">
            <i class="fab fa-discord"></i>
        </a>
    </div>
</footer>