@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar navbar-dark sticky-top p-0 text-center">
    <div class="w-100 bg-logo p-2">
        <a class="text-decoration-none" href="/">
            <div class="navbar-brand float-start ms-2">
                <img src="/img/logo.png" height="40" class="d-inline-block align-middle logo-img" alt="iCTF">
            </div>
            <span class="logo-text text-white">ImaginaryCTF</span>
        </a>
        <button class="navbar-toggler sidenav-toggler float-end m-1" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="menu sidenav bg-darker-smooth">
        <ul class="navbar-nav p-2 pl-1 pr-1 big-rounded">
            <li class="nav-item nav-item-blue mt-1 rounded text-nowrap">
                <a class="nav-link nav-link-blue" href="/">Home Page</a>
            </li>
            <li class="nav-item nav-item-blue mt-2 rounded text-nowrap">
                <a class="nav-link nav-link-blue" asp-page="ArchivedChallenges">Archived Challenges</a>
            </li>
            <li class="nav-item nav-item-blue mt-2 rounded text-nowrap">
                <a class="nav-link nav-link-blue" asp-page="Challenges">Challenges</a>
            </li>
            <li class="nav-item nav-item-blue mt-2 rounded text-nowrap">
                <a class="nav-link nav-link-blue" asp-page="Leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item nav-item-blue mt-2 rounded text-nowrap">
                <a class="nav-link nav-link-blue" asp-page="Solves">Solves</a>
            </li>
            @if (SignInManager.IsSignedIn(User))
            {
                @if (User.IsInRole("Administrator"))
                {
                    <li class="nav-item nav-item-purple mt-2 rounded text-nowrap">
                        <a class="nav-link nav-link-purple" asp-area="Admin" asp-page="Index">Admin Panel</a>
                    </li>
                }
                <li class="nav-item nav-item-purple mt-2 rounded text-nowrap">
                    <a class="nav-link nav-link-purple" asp-area="Account" asp-page="Index">Account</a>
                </li>
                <li class="nav-item nav-item-purple mt-2 rounded text-nowrap">
                    <form asp-page="Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <a onclick="this.closest('form').submit();return false;" class="nav-link nav-link-purple" asp-page="Logout">Logout</a>
                    </form>
                </li>
            }
            else
            {
                <li class="nav-item nav-item-purple mt-2 rounded text-nowrap">
                    <a class="nav-link nav-link-purple" asp-page="Register">Register</a>
                </li>
                <li class="nav-item nav-item-purple mt-2 rounded text-nowrap">
                    <a class="nav-link nav-link-purple" asp-page="Login">Login</a>
                </li>
            }
        </ul>
    </div>
</nav>