@page
@model iCTF_Website.Areas.Admin.Pages.DangerZoneModel

@{
    ViewData["Title"] = "Danger Zone";
}

<div class="container">
    <h1 class="text-center m-3">Admin Panel</h1>
    <div class="row mb-3">
        <partial name="_MenuPartial" />
        <div class="col-md-9 text-start">
            <h4>Danger Zone</h4>
            <hr />

            <div>
                <button class="btn btn-success mt-2" data-bs-toggle="modal" data-bs-target="#release">Release All Approved Challenges</button>
            </div>
            <div id="release" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Release All Approved Challenges</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Are you sure you want to release all the currently approved challenges?
                                <br />
                                Although this action will release all the currently approved challenges, they won't be published on Discord.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form method="POST" asp-page-handler="release">
                                <button type="submit" class="btn btn-danger">Release All Approved Challenges</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#archive">Archive Released Challenges</button>
            </div>
            <div id="archive" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Archive Released Challenges</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Are you sure you want to archive all the currently released challenges?
                                <br />
                                This action will archive all the released challenges but will keep the leaderboard and users/teams' scores. Ideal for one-time CTFs.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form method="POST" asp-page-handler="archive">
                                <button type="submit" class="btn btn-danger">Archive Released Challenges</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#reset">Reset Scores And Solves</button>
            </div>
            <div id="reset" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Reset Scores And Solves</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Are you sure you want to reset all users/teams' scores and solves?
                                <br />
                                This action will also reset the leaderboard. It is recommended to first archive all the currently released challenges.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form method="POST" asp-page-handler="reset">
                                <button type="submit" class="btn btn-danger">Reset Scores And Solves</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#end">End Competition</button>
            </div>
            <div id="end" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">End Competition</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Are you sure you want to end this competition?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form method="POST" asp-page-handler="end">
                                <button type="submit" class="btn btn-danger">End Competition</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>