@page
@model iCTF_Website.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Admin Panel";
}

<div class="container">
    <h1 class="text-center m-3">Admin Panel</h1>
    <div class="row mb-3">
        <partial name="_MenuPartial" />
        <div class="col-md-9 text-start">
            <h4>Overview</h4>
            <hr />
            <p>Website users count: @Model.WebsiteUsersCount</p>
            <p>Total users count: @Model.UsersCount</p>
            <p>Teams count: @Model.TeamsCount</p>
        </div>
    </div>
</div>