<header>
    <div class="pos-rel">
        <div class="overflow-hidden">
            @{
                var now = DateTime.UtcNow;
                // Halloween
                if (now.Month == 10)
                {
                    <img src="/img/halloween_banner.jpg" class="d-block banner-img" alt="Banner">
                }
                else
                {
                    <img src="/img/banner.jpg" class="d-block banner-img" alt="Banner">
                }
            }
            <div class="position-absolute header-text text-white text-start bg-dark-smooth p-3 w-75" style="display:none">
                <h2 class="mb-2 mt-1 josefin">Daily CTF Challenges For Everyone</h2>
                <p class="mb-0 josefin" style="opacity: 0.8">Create an <a class="anchor-link btn btn-outline-light py-0 px-2 rounded-pill" asp-page="Register">account</a> or join our <a class="anchor-link btn btn-outline-light py-0 px-2 rounded-pill" href="https://discord.gg/vReKWNxPuE" target="_blank">discord</a> server to get started.</p>
            </div>
        </div>
    </div>
</header>