@page
@model iCTF_Website.Areas.Account.Pages.TeamModel

@using Microsoft.Extensions.Configuration

@{
    ViewData["Title"] = "Team";
}

<div class="container">
    <h1 class="text-center m-3">Account</h1>
    <div class="row mb-3">
        <partial name="_MenuPartial" />
        <div class="col-md-9 text-start">
            <h4>Team</h4>
            <hr />
            @if (!string.IsNullOrEmpty(Model.Success))
            {
                <div>
                    <div class="alert alert-success">
                        @Model.Success
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <div>
                    <div class="alert alert-danger">
                        @Model.Error
                    </div>
                </div>
            }

            @if (Model.Team == null)
            {
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <h5>Create Team</h5>
                        <form asp-page-handler="create" method="post">
                            <div class="form-group">
                                <label>Team Name</label>
                                <input asp-for="CreateJoin.CreateModel.TeamName" class="form-control" />
                                <span asp-validation-for="CreateJoin.CreateModel.TeamName" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary mt-2 w-100">Create Team</button>
                        </form>
                    </div>
                    <div class="col-md-6 mb-2">
                        <h5>Join Team</h5>
                        <form asp-page-handler="join" method="post">
                            <div class="form-group">
                                <label>Team Name</label>
                                <input asp-for="CreateJoin.JoinModel.TeamName" class="form-control" />
                                <span asp-validation-for="CreateJoin.JoinModel.TeamName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Team Code</label>
                                <input asp-for="CreateJoin.JoinModel.TeamCode" class="form-control" />
                                <span asp-validation-for="CreateJoin.JoinModel.TeamCode" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary mt-2 w-100">Join Team</button>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <p><b>Team Name - </b>@Model.Team.Name</p>
                <p><b>Team Code - </b>@Model.Team.Code</p>
                <a href="/Team/@Model.Team.Id" class="btn btn-primary my-2">Go to your team's page</a>
                <form method="POST" asp-page-handler="leave">
                    <button type="submit" class="btn btn-danger">Leave Team</button>
                </form>
            }
        </div>
    </div>
</div>